/**/
body {
  background-color: aqua;
}
h1 {
  padding: 0.4em 0.5em;
  color: #494949;
  background: #ecebeb;
  border-left: solid 5px #0c84f5;
  border-bottom: solid 3px #d7d7d7;
}

label {
  display: block;
  float: left;
  text-align: right;
  width: 20%;
}

input {
  width: 75%;
}

#button {
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16pt;
  height: 4ex;
  width: 5em;
  border-radius: 10px;
  color: white;
  background-color: blue;
  border-left: solid 5px #0c84f5;
  border-bottom: solid 3px #d7d7d7;
}

#message {
  border-style: solid;
  border-color: grey;
}

table {
  border-collapse: collapse;
}

th, td {
  border: solid;
}
